/*
This CSS governs the appearance of our site.
You can find the basic concepts of CSS here: https://developer.mozilla.org/en-US/docs/Learn/CSS/Introduction_to_CSS/How_CSS_works
*/

/*
We use CSS variables to avoid repetition
https://developer.mozilla.org/en-US/docs/Web/CSS/--*
*/
:root {
	--theme-color-light: rgb(220, 0, 0);
	--theme-color-dark: rgb(160, 0, 0);
 	--dark-background-color: rgb(50, 50, 50);
}


/*
This makes the border and padding be counted as part of the element's size.
https://developer.mozilla.org/en-US/docs/Learn/CSS/Introduction_to_CSS/Box_model
It switches from
	https://mdn.mozillademos.org/files/13647/box-model-standard-small.png
to
	https://mdn.mozillademos.org/files/13649/box-model-alt-small.png
*/
* {
	box-sizing: border-box;
}

/*
Make the document fill the whole viewport, this overrides any weird defaults that browsers might have.
*/
html, body, figure {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	border: 0;
	color: #999;
}

/* Default font and size */
body {
	margin: 0;
	background-color: #111;
	font-family: 'Poppins', sans-serif;
	font-size: 1.1em;
	font-weight: 300;
	padding: 0;
	height: 100%;
}

.page-title {
	margin-left: 50%;
	color: var(--theme-color-dark);
	font-family: 'Poppins', sans-serif;
	font-size: 1.1em;
	font-weight: 300;
	transform: translate(-50%);
}

/*
It is easier to read if the text is not too wide, so we limit the width.
We use the class selector ".", so this style will be applied to elements with class="width-limited"

The various units of measurement available in CSS:
	https://developer.mozilla.org/en-US/docs/Learn/CSS/Introduction_to_CSS/Values_and_units
*/
.width-limited {
	max-width: 80%;

	/* Center horizontally: */
	margin-left: auto;
	margin-right: auto;
}

#intro_text1,
#intro_text2,
#intro_text3 {
	opacity: 0;
}

#intro_text1.show,
#intro_text2.show,
#intro_text3.show {
	opacity: 1;
	transition-duration: 10s;
}

#intro_text1.show {
	transition-delay: 1s;
}

#intro_text2.show {
	transition-delay: 5s;
}

#intro_text3.show {
	transition-delay: 9s;
}

#intro_text1.fast_show,
#intro_text2.fast_show,
#intro_text3.fast_show {
	opacity: 1;
}

#intro_video{
	opacity: 0;
}

#intro_video.show {
	opacity: 1;
	transition-delay: 12s;
	transition-duration: 10s;
}

#intro_video.fast_show {
	opacity: 1;
}

.intro-btn {
  position: absolute;
  padding: 10px 10px;
  z-index: 20;
  border-radius: 10px;
}

#skipIntro {
	margin-left: 90%;
}

#startIntro {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#startIntro.hide {
	height: 0px;
	opacity: 0;
}

/* Links: apply our theme color and remove underline */
a {
	color: var(--theme-color-dark);
	text-decoration: none;
}

/* Justify paragraphs */
p {
	text-align: justify;
}

img {
	width: 100%;
}

/* Titles: set color and sizes */
h1, h2, h3, h4, h5, h6
{
	color: var(--theme-color-dark);
	font-family: 'Poppins', sans-serif;
	font-size: 1.1em;
	font-weight: 300;
}
h1 { font-size: 2rem; }
h2 { font-size: 1.75rem; }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.25rem; }

/* Top navigation bar */
navtop {
	width: 100%;
	height: 7%;
	padding-top: 1rem;
	padding-bottom: 1rem;
}


/* The box with a dark background and our site's title */
.title-row {
	width: 100%;

	/* Space above and below the title */
	padding-top: 3rem;
	padding-bottom: 3rem;

	background-color: rgb(54, 158, 54);
	/* background: url('energy_image_1.jpeg'); */
	/* Center the title using flexbox */
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Style of the title inside the box */
.title-row h1 {
	font-size: 2.1rem;
	color: white;
	font-variant: small-caps;

	text-shadow: black 0 0 0.6rem;
}

.box {
	padding-left: 2rem;
	padding-right: 2rem;
	margin-bottom: 1rem;

	background-color: rgba(0, 122, 50, 0.1);

	border: 2px solid var(--theme-color-dark);
	border-radius: 2rem;
}

.viz-row {
	width: 100%;
	/* Center the title using flexbox */
	display: flex;
	justify-content: center;
	align-items: center;

	padding-top: 2rem;
	padding-bottom: 2rem;

	background-color: var(--dark-background-color)
}


footer {
	padding-bottom: 5rem;
}


.video-container {
		height: 300px;
    width: 100%;
    position: relative;
}

.video-container video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}

/* Just styling the content of the div, the *magic* in the previous rules */
.video-container .caption {
  z-index: 1;
  position: relative;
  text-align: center;
  color: #dc0000;
  padding: 10px;
}

.flex-container {
    display: flex;
}

.flex-child {
	padding-left: 0px;
    flex: 1;
    border: 2px solid red;
}

.flex-child:first-child {
    margin-right: 20px;
}

#bubbleChart {
	margin-left: auto;
	margin-top: auto;
}

.buttonBubble {
	padding-top: auto;
	padding-left: auto;
}

select {
	width: 200px;
}
