.checkbox-inline {
	top: 50%;
  transform: translateY(-50%);
	padding-left: 0.5rem;
	padding-right: 1.5rem;
}

input {
	margin-right: 0.3rem;
}

.dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
}

#AF {
	background-color: #B1B4DA;
}
#AS {
	background-color: #F5A623;
}
#EU {
	background-color: #48509E;
}
#NA {
	background-color: #D8352A;
}
#OC {
	background-color: #F6E7AD;
}
#SA {
	background-color: #02A371;
}

.container {
  display: flex;
	justify-content: center;
	text-align: center;
}

#listTransaction {
	margin-left: 15%;
}

#checkboxes {
	height: 20px;
	margin: 30px;
	text-align: center;
	transform: translateY(50%);
}

#StartViz2 {
	position: relative;
	text-align: center;
	margin-bottom: 10px;
	left: 50%;
	transform: translate(-50%, 0);
	margin-top: 0px;
}
